@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type='search']::-webkit-search-decoration,
  input[type='search']::-webkit-search-cancel-button,
  input[type='search']::-webkit-search-results-button,
  input[type='search']::-webkit-search-results-decoration {
    @apply hidden;
  }
}

@layer components {
  .custom-clip-path {
    clip-path: polygon(
      73.6% 51.7%,
      91.7% 11.8%,
      100% 46.4%,
      97.4% 82.2%,
      92.5% 84.9%,
      75.7% 64%,
      55.3% 47.5%,
      46.5% 49.4%,
      45% 62.9%,
      50.3% 87.2%,
      21.3% 64.1%,
      0.1% 100%,
      5.4% 51.1%,
      21.4% 63.9%,
      58.9% 0.2%,
      73.6% 51.7%
    );
  }
}

@layer utilities {
  .scrollbar-hide {
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    @apply hidden;
  }
}
